<a href="https://colab.research.google.com/github/Jannathfatima/HELLO-WORLD/blob/master/dphi_work.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [3]:
url = 'https://drive.google.com/file/d/1QcKzIJlO6WRUH4IkrKAvDmBVEipXkeQb/view?usp=sharing'

path = 'https://drive.google.com/uc?export=download&id='+url.split('/')[-2]

data = pd.read_csv(path)

In [2]:
import pandas as pd

In [4]:
data.head()

   VendorID tpep_pickup_datetime  ... DOLocationID  fare_amount
0       1.0  2020-01-01 00:28:15  ...          239          6.0
1       1.0  2020-01-01 00:35:39  ...          238          7.0
2       1.0  2020-01-01 00:47:41  ...          238          6.0
3       1.0  2020-01-01 00:55:23  ...          151          5.5
4       2.0  2020-01-01 00:01:58  ...          193          3.5

[5 rows x 7 columns]

In [7]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1243241 entries, 0 to 1243240
Data columns (total 7 columns):
 #   Column                 Non-Null Count    Dtype
---  ------                 --------------    -----
 0   VendorID               1227632 non-null  float64
 1   tpep_pickup_datetime   1243241 non-null  object
 2   tpep_dropoff_datetime  1243241 non-null  object
 3   passenger_count        1227632 non-null  float64
 4   PULocationID           1243241 non-null  int64
 5   DOLocationID           1243241 non-null  int64
 6   fare_amount            1243241 non-null  float64
dtypes: float64(3), int64(2), object(2)
memory usage: 66.4+ MB

In [8]:
data.max()

VendorID                                   2
tpep_pickup_datetime     2020-01-07 23:59:58
tpep_dropoff_datetime    2020-01-09 13:07:47
passenger_count                            9
PULocationID                             265
DOLocationID                             265
fare_amount                             1238
dtype: object

In [11]:
data.tpep_pickup_datetime = pd.to_datetime(data.tpep_pickup_datetime)
data.tpep_pickup_datetime = pd.DatetimeIndex(data.tpep_pickup_datetime)

In [14]:
data['weekdaypu'] = data.tpep_pickup_datetime.dt.day_name()

In [15]:
data.head()

   VendorID tpep_pickup_datetime  ...    weekday  weekdaypu
0       1.0  2020-01-01 00:28:15  ...  Wednesday  Wednesday
1       1.0  2020-01-01 00:35:39  ...  Wednesday  Wednesday
2       1.0  2020-01-01 00:47:41  ...  Wednesday  Wednesday
3       1.0  2020-01-01 00:55:23  ...  Wednesday  Wednesday
4       2.0  2020-01-01 00:01:58  ...  Wednesday  Wednesday

[5 rows x 9 columns]

In [16]:
data.tpep_dropoff_datetime = pd.to_datetime(data.tpep_dropoff_datetime)
data.tpep_dropoff_datetime = pd.DatetimeIndex(data.tpep_dropoff_datetime)

In [17]:
data['weekdayDO'] = data.tpep_dropoff_datetime.dt.day_name()
data.head()

   VendorID tpep_pickup_datetime  ...  weekdaypu  weekdayDO
0       1.0  2020-01-01 00:28:15  ...  Wednesday  Wednesday
1       1.0  2020-01-01 00:35:39  ...  Wednesday  Wednesday
2       1.0  2020-01-01 00:47:41  ...  Wednesday  Wednesday
3       1.0  2020-01-01 00:55:23  ...  Wednesday  Wednesday
4       2.0  2020-01-01 00:01:58  ...  Wednesday  Wednesday

[5 rows x 10 columns]

print(df[df['D']<0]['B'])

In [27]:
new_df=(data[data['VendorID']==2],[data['passenger_count']>5])

In [28]:
new_df

(         VendorID tpep_pickup_datetime  ...  weekdaypu  weekdayDO
 4             2.0  2020-01-01 00:01:58  ...  Wednesday  Wednesday
 5             2.0  2020-01-01 00:09:44  ...  Wednesday  Wednesday
 6             2.0  2020-01-01 00:39:25  ...  Wednesday  Wednesday
 11            2.0  2020-01-01 00:21:54  ...  Wednesday  Wednesday
 12            2.0  2020-01-01 00:38:01  ...  Wednesday  Wednesday
 ...           ...                  ...  ...        ...        ...
 1227627       2.0  2020-01-07 21:37:35  ...    Tuesday    Tuesday
 1227628       2.0  2020-01-07 23:58:07  ...    Tuesday  Wednesday
 1227629       2.0  2020-01-07 22:29:20  ...    Tuesday    Tuesday
 1227630       2.0  2020-01-07 23:59:31  ...    Tuesday  Wednesday
 1227631       2.0  2020-01-07 21:01:18  ...    Tuesday    Tuesday

 [830826 rows x 10 columns], [0          False
  1          False
  2          False
  3          False
  4          False
             ...
  1243236    False
  1243237    False
  1243238    False
  1243239    False
  1243240    False
  Name: passenger_count, Length: 1243241, dtype: bool])

In [30]:
data.passenger_count

0          1.0
1          1.0
2          1.0
3          1.0
4          1.0
          ...
1243236    NaN
1243237    NaN
1243238    NaN
1243239    NaN
1243240    NaN
Name: passenger_count, Length: 1243241, dtype: float64

In [31]:
data.passenger_count.max

<bound method Series.max of 0          1.0
1          1.0
2          1.0
3          1.0
4          1.0
          ...
1243236    NaN
1243237    NaN
1243238    NaN
1243239    NaN
1243240    NaN
Name: passenger_count, Length: 1243241, dtype: float64>

In [34]:
data.passenger_count.isna().sum()

15609

max and median value before filling missing values

In [37]:
print(data['passenger_count'].max())

9.0

In [38]:
print(data['passenger_count'].median())

1.0

filling missing values my max value

In [43]:
x = 36 / 4 * (3 + 2) * 4 + 2
print(x)

182.0

In [44]:
2*2**3

16

Consider two numbers, a = 5, b = 16. Write a Python program to print the sum of these two numbers.
Write a Python program to take a number from the user as input and print the cube of the number.

In [47]:
a=5
b=16

In [49]:
x=a+b
print(x)

21

In [50]:
# Python Program to Calculate Cube of a Number

number = float(input(" Please Enter any numeric Value : "))

cube = number ** 3

print("The Cube of a Given Number {0}  = {1}".format(number, cube))

 Please Enter any numeric Value : 8
The Cube of a Given Number 8.0  = 512.0